#footer_cont{
    width: 100%;
    height: 4rem;
    background-color: #202E61;
    color: #fff;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    #footer_label_cont{
        padding: 2rem 6rem 4rem;
        font-size: 15px;
        height: 4rem;
        display: flex;
        flex-direction: column;
        
        label{
            margin-top: 10px;
            
        }
        margin-right: 6rem;
    }
    #footer_links_cont{
        width: 10%;
        margin-top: 2rem;
        img{
            margin-right: 2rem;
        }
    }
}